body{   
    background-image: url("default.jpg");

   
      margin-top: 50px;
      margin-left: 25px;
  
}

.navbar-toggler-iconr{
  background-color: rgb(111, 143, 137);
}


.group_selection
{
      margin-left:51px;
      margin-top: 101px;
      width:700px;

}

.custom-select {
    border-radius: 8px;
    height:60px; 
    
    
}
.alert1 {

    border-radius: 8px;
    background-color: #CFD5D7;
    padding: 10px;
    margin-top: 25px;
    width:700px;
    margin-left: 40px;
    margin-bottom: 25px;
}
.btn{
    margin: 10px;
}
